@charset "UTF-8";

.register-form-div, .login-form-div {
	width: 30%;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
}

.copyright {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: gray;
	text-align: center;
}

/* register and login */
.card {
	display: flex;
	justify-content: center;
}

.card-header {
	text-align: center;
	font-size: 1.5rem;
}

.error {
	font-size: 1.2rem;
	color: red;
}

.error-message-div {
	margin-top: 5px;
}

.submit-button-registration, .submit-button-login {
	margin: 0;
	width: 100%;
}

.move-button {
	width: 49%;
}

/* main */
.nav-button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	padding-top: 8px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.post-title-username {
	display: inline-block;
}

.submit-button-logout {
	margin-left: 10px;
}

#ajaxShowGreeting {
	margin-top: 10%;
}

/* post */
.left-column {
	margin-top: 20px;
	float: left;
	width: 60%;
}

.right-column {
	margin-top: 20px;
	float: left;
	width: 40%;
}

#ajaxShowVissiblePosts {
	margin-bottom: 20px;
}

.splitColumnsRow:after {
	content: "";
	display: table;
	clear: both;
}

.search-button {
	display: inline;
	vertical-align: top;
	width: 8%;
	margin-right: 0.5%;
	padding: 0.5%;
	height: 3%;
}

.search-bar {
	width: 60%;
	display: inline;
	margin-bottom: 5px;
	margin-left: 0.5%;
}

.search-form {
	margin-top: 10px;
}

.select2-container {
	vertical-align: top;
}

.select2-selection--single{
	padding-top: 8px !important;	
}

.select2-selection {
  height: 38px !important;
}

.new-post-div {
	margin-top: 10%;
	border: 1px solid #DCDCDC;
	border-radius: .25rem;
	width: 100%;
	padding: 4px 16px 16px 16px;
	background-color: #f8f9fa;
}

.delete-button, .edit-button, .like-button {
	background-color: transparent;
	border: none;
	vertical-align: 0;
	display: inline;
}

.button-div {
	float: right;
}

.datetime {
	display: inline;
	font-size: 1rem;
	vertical-align: middle;
}

.posterName {
	display: inline;
	float: left;
}

.post-card-header {
	text-align: right;
}

.commentPoster {
	font-size: 1rem;
	color: #007bff;
	margin-bottom: 0.25rem;
}

.commentText {
	font-size: 1rem;
}

.viewCommentsButton {
	margin-bottom: 0.25rem;
	color: gray;
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.viewCommentsDiv {
	display: none;
}

/* friends */
.mainFriendsTableRow {
	background-color: rgba(0, 0, 0, .03);
}

.blue-titles {
	color: #007bff;
	font-size: 2rem;
	margin-top: 20px;
}

.card {
	width: 80%;
	margin-left: 5%;
	margin-top: 30px;
}

.request-button {
	float: right;
}

.friendReqButtonsDiv, .groupReqButtonsDiv {
	display: inline;
	float: right;
	vertical-align: middle;
}

.friendReqDiv {
	height: 3rem;
	border-top: 1px solid #ced4da;
	border-bottom: 1px solid #ced4da;
	padding: 0.2rem 0.2rem 0 0.6rem;
	margin-top: 0.5rem;
	position: relative;
	background-color: rgba(0, 0, 0, .03);
}

.requestMessage {
	display: inline;
	margin-top: 0.2rem;
	vertical-align: middle;
	font-size: 1.3em;
	position: absolute;
}

/* groups */
.view-button {
	float: right;
}

.table td {
	vertical-align: middle;
}

.button-td {
	padding: 0.3rem;
}

#editGroupInfoButton {
	margin-left: 10px;
}

/* profile page */

#profilePageTitle{
	color: #007bff;
	font-size: 2rem;
	margin: 3% 0 3% 3%; 
}

.fileInputContainer{
	padding: none;
	margin: 1% 0 1% 0;
}

.profileImage{
	width: 300px; 
	height: 300px;
}

.left-column-profile {
	float: left;
	width: 30%;
}

.right-column-profile {
	float: left;
	width: 60%;
}

.blue-titles-profile {
	display: inline;
	color: #007bff;
	font-size: 1.2rem;
}
.black-titles-profile{
	display: inline;
	float: right;
	font-size: 1.2rem;
}

/*chatroom*/

.left-column-chat {
	float: left;
	width: 10%;
	background-color: white;
}

.right-column-chat {
	float: left;
	width: 90%;
}

#messageDiv{
	height: 20rem;
	color: blue;
	overflow: scroll;
	background-color: #ECECEC;	
}

#usersDiv{
	height: 20rem;
	overflow: auto;	
}

.chatWindows{
	background-color: white;
	margin: 5px;
	border-radius: 0.5rem;
	padding: 5px;
	border-width: 2px;
}

.chatline{
	margin-bottom: 8px;
}

.horizontalSep{
	margin: 8px 0 8px 0;
	height: 2px;
}
.onlineUsersButton{
	width: 100%;
}

#messageText{
	margin-top: 10px;
}

#sendMessageButton{
	width: 100%;
	margin-top: 10px;
}


