@charset "UTF-8";

.register-form-div, .login-form-div {
	width: 30%;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
}


.copyright {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: gray;
	text-align: center;
}

/* register and login */

.card{
	display: flex;
  	justify-content: center;
}

.card-header{
	text-align: center;
	font-size: 1.5rem;
}

.error {
	font-size: 1.2rem;
	color: red;
}

.error-message-div{
	margin-top: 5px;
}

.submit-button-registration, .submit-button-login{
	margin: 0;
	width: 100%;
}

.move-button {
	width: 49%;
}



/* main */

#friendsTable{
	margin-top: 20px;
}

#ajaxShowVissiblePosts{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 40px;
}

.main-body-div{
	width: 95%;
	margin-left: auto;
}

.nav-button{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	padding-top: 8px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.submit-button-logout{
	margin-left: 10px;
}

#ajaxShowGreeting{
	margin-top: 10%;
}
